<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body class="splash-page">
        <% include ./partials/header %>
        <div class="fade-wrapper"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center mx-auto mb-5">
                        <div class="card-body">
                            <h1 class="display-5">
                                <div>
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-bolt fa-stack-1x"></i>
                                    </span>
                                </div>
                                Thunderlist
                            </h1>
                            <p>Create shopping lists, to-do lists and notes in seconds and keep them synced across all your devices!</p>
                            <div><img class="w-50" src="/img/lists.JPG"/></div>
                            <hr/>
                            <p>Keep track of completed and on-going lists in your dashboard</p>
                            <div><img class="w-50" src="/img/tl.JPG"/></div>
                            <hr/>
                            <a class="btn btn-dark btn-lg mb-2" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                            <br>or <a href="/login">Log In</a>
                        </div>
                    </div>
                    <div class="card text-center mx-auto mb-5">
                        <div class="card-body">
                            <p>
                                Thunderlist is an open source Node.js web app.<br>
                                The full source code is available on <a href="https://github.com/TomerRon/thunderlist" target="_blank">Github</a>.
                            </p>
                            <a href="https://github.com/TomerRon/thunderlist" target="_blank" class="fa fa-github" style="font-size:4em;text-decoration:none;" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>